.container_films {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @media (max-width: 420px) {
    flex-direction: column;
  }

  .container_film {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding-bottom: 20px;
    @media (max-width: 420px) {
      width: 100%;
    }

    img {
      width: 50%;
      cursor: pointer;
      transition: 1s all;
      z-index: 1;
    }

    img:hover {
      transform: scale(1.3);
    }

    .container_text {
      width: 50%;
      background: #badaed;
      opacity: .6;
      padding: 10px;
      display: flex;
      flex-direction: column;
      text-align: start;
      margin: 2em;
      word-break: break-all;

      .container_text_bold {
        opacity: 1;
        font-weight: bold;
      }
    }

    .container_text:hover {
      background: #badaed;
      opacity: 1;
    }
  }
}
